/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "komikax";
    src: url("../font/komikax.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */
.gallery__wrap {
    overflow: auto;
}
.cards {
    overflow-y: auto;
}
.gallery__filter dd { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.gallery__filter dd.active, .gallery__filter dd:hover, .gallery__item > div:hover > span { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
.gallery__item > div > span{ filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
.gallery__item > div > span {
    background: url("../img/black0.8.png");
}
.gallery__item > div {
    z-index: -1;
}

